html,
#app,
.defaultLayout {
    background-color: dimgrey;
}

.offlinePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offline{
    align-self: center;
    border-radius: 5vh;
    background-color: white;
    width: 90vw;
    padding: 2vh 2vw;
}
